<% dates.each do |date| %>
  <section class="day-trip-list">
    <h2><%= date[0].strftime('%A %-d %B') %></h2>
    <div data-sortable-target="list" data-trip-id="<%= trip.id %>" data-date="<%= date[0] %>">
      <% date[1].each do |trip_activity| %>
          <%= render "trips/trip_activity_card", trip_activity: trip_activity %>
      <% end %>
    </div>
    <% if date[1].empty? %>
      <div class="callout"></div>
    <% end %>
  </section>
<% end %>
