<div class="card-trip-wrapper" data-url="<%= trip_activity_path(trip_activity.id) %>">
  <div class="card-trip-show-drag">
    <%# <%= cl_image_tag trip_activity.activity.photos.first.key, crop: :fill, class:"img-fluid" %>
    <div class="card-trip-show-info h-100">
      <% if trip_activity.activity.category_list.include?("Monuments et points d'intérêt") %>
         <a href="#"><i class="fa-solid fa-location-dot"></i></a>
       <% end %>
      <% if trip_activity.activity.category_list.include?("Sites historiques") %>
       <a href="#"><i class="fa-solid fa-fort"></i></a>
       <% end %>
      <% if trip_activity.activity.category_list.include?("Parcs et jardins") %>
          <a href="#"><i class="fa-solid fa-tree"></i></a>
       <% end %>
        <% if trip_activity.activity.category_list.include?("Musées") %>
          <a href="#"><i class="fa-solid fa-landmark"></i></a>
       <% end %>
        <% if trip_activity.activity.category_list.include?("Marchés") %>
          <a href="#"><i class="fa-solid fa-store"></i></a>
       <% end %>
       <% if trip_activity.activity.category_list.include?("Théâtres") %>
          <a href="#"><i class="fa-solid fa-masks-theater"></i></a>
       <% end %>
      <div class="card-title-price d-flex flex-column">
      <h4><%= truncate(trip_activity.activity.name, length: 20, separator: ' ', omission: '...') %></h4>
      </div>
    </div>
  </div>
</div>
