.first-column {
  margin: 20px;
  padding: 20px;
  background-color: #16697A;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  width: 160px;
}

.second-column {
  padding: 20px;
  text-align: center;
}

.third-column {
  padding: 20px;
}

.second-column-trips {
  padding: 20px;
  width: 500px;
  background-color: #98C1D9;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
}

.second-column-trip {
  padding: 20px;
  background-color: #E0FBFC;
  border-radius: 15px;

}

.third-column-map {
  padding: 20px;
  background-color: #E0FBFC;
  border-radius: 15px;
}

.hello {
  margin-top: 15px;
  text-align: center;
}
