// Specific CSS for your home-page
.activity-cards-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  z-index: 1;
}

// VIDEO BANNER

.wrapper {
  position: relative;
  width: 100%;
}

.wrapper::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  content: '';
  background-image: linear-gradient(to top, rgba(53, 92, 125, 0.35), rgba(108, 91, 123, 0.35), rgba(192, 108, 132, 0.35));


}

// POUR LE TRACE DE L'AVION SUR LA HOMEPAGE


.home-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#plane {
  position: absolute;
  font-size: 4rem;
  color: #82C0CC;
}

#path {
  position: absolute;
  overflow: hidden;
}
