.first_column {
  margin: 40px;
}

.card-trip-show {
  background-color: white;
  margin-top: 3px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.card-trip-show h1, h2, h3, h4, h5 {
  color:black
}

.card-trip-show p {
  font-size: smaller;
}

.card-trip-show img {
  scroll-margin-right: 4px;
}
