.map-card-trip {
  margin: 40px 35px;
}

.card-trip-show {
  background-color: white;
  padding: 10px;
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  cursor: move;
  border: 1px solid rgba(0, 0, 0, 0.187);
  position: relative;
}

.card-trip-show h1, h2, h3, h4, h5 {
  color:grey;
  font-size: calc(0.6rem + 0.6vw);
}

.card-trip-show p {
  font-size: smaller;
  text-align: right;
  margin-top: 0px;
}

.card-trip-show-info {
  display:flex;
  justify-content: right;
  align-items:end;
  padding-left: 20px;
}

.card-trip-show img {
  object-fit: cover;
  width: 165px;
  // height: 100%;
}

.card-trip-icon-price {
  display:flex;
  justify-content: space-evenly;
  i {
    color: #E67E22;
  }
}

.card-title-price {
  display: block;
  text-align: center;
  align-items:end;
  justify-content: baseline;
  font-size: smaller;
}

#trip-activity-avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 1px solid rgba(0, 0, 0, 0.187);
}
