.label-city {
  margin: 10px 0px
}

.label-city label {
  margin-bottom: 10px
}

.label-city-btn {
  margin: 10px 0px;
  padding: 10px;
  border: 2px solid #16697A;
  border-radius: 50px;
  color: #16697A;
  font-size: small;
  background-color: #EDE7E3;
}

.label-city-btn:hover {
  border-radius: 50px;
  color: #EDE7E3;
  background-color: #16697A;
  font-size: small;
}

.submit-button {
  margin: 10px 0px;
  padding: 10px;
  border: 2px solid #16697A;
  border-radius: 50px;
  color: #16697A;
  font-size: small;
  background-color: #EDE7E3;
}

#label-destination {
  margin-bottom: 10px;
}

.form-control {
  width: 200px;
}

.activities-options {
  .card-selector + label {
    width: 100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
  }
  .card-item {
    display: block;

  }

  fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
  }

  input {
    #trip_query {
    margin-bottom: 10px;
    }
  }
}

.form-container {
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.251);
  border-radius: 5px;
}

.form-groups {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 10px;
  margin: 20px 0px;
  .budget {
    color: #489FB5;
  }
}






.form-group {
  flex: 1;
  position: relative;
  .budget {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    top: -4px;
    right: 0rem;
  }
}

#all-tags-trip {
text-align: center;
}
