<div class="banner">
  <div class="container">
    <h1>MAIWEI</h1>
    <h3>Vous ne voyagerez plus de la même façon !</h3>
    <h2>Organisez votre voyage pour optimiser vos déplacements et découvrez des lieux incroyables ! </p>
  </div>

    <div class="bg-white">
      <div class="container p-5 bg-white">
       <h1 class="text-center">Des idées de destinations :</h1>
         <div class="cards p-5">
         </div>
            <div class="card-offer position-relative">
             <div class="card-activity-infos">
             </div>
            </div>
     <div class="text-center text-decoration-none">
       <p>"Partez à la découverte du monde"</p>
    </div>
</div>
