<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.pexels.com/photos/335393/pexels-photo-335393.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="banner">
   <div class="container">
      <h1>MAIWEI</h1>
      <h3>Vous ne voyagerez plus de la même façon !</h3>
      <h2>Organisez votre voyage pour optimiser vos déplacements et découvrez des lieux incroyables ! </p>
   </div>
  </div>
</div>

    <div class="bg-white">
      <div class="container p-5">
       <h1 class="text-center">Des idées de destinations :</h1>
         <div class="cards p-5">
         </div>
            <div class="card-activity position-relative">
            </div>
     <div class="text-center text-decoration-none">
       <p>"Partez à la découverte du monde"</p>
    </div>
</div>
