.category-name-selected h1 {

  font-size: 35px;
  i {
    color: #16697A;
    font-size: 30px;
    position: relative;
    top: -3px;
  }
}

.search-icon form {
  width: 50%;
  position: relative;
  button[type=submit] {
    position: absolute;
    right: 0;
    top: -1px;
    opacity: 0.4;
  }
}
