.btn-destination {
  background-color: #489FB5;
  border-color: #489FB5;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 8PX;
  padding: 10px 30px;
  border: none;
}

.btn-destination:hover {
  background-color: #16697A;
  border-color: #16697A;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 8PX;
  padding: 10px 30px;
  border: none;
}

.btn-default {
  align-items: center;
  content: "\f002";
  font-size: 30px;
  color: #16697A;
  justify-content: center;
  padding: 5px 5px 5px;
  margin-top: 10px;
}

.btn-default:hover {
  color: #489FB5;
}
