.first_column {
  margin: 20px;
}

.card-trip-show-new {
  background-color: white;
  margin-top: 3px;
  width: 600px;
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  cursor: move;
}

.card-trip-show h1, h3, h4, h5 {
  color:black
}

.card-trip-show p {
  font-size: smaller;
  margin-bottom: 0px;
}

.card-trip-show-info {
  padding: 10px;
}

.card-trip-show img {
  object-fit: cover;
  width: 165px;
  // height: 100%;
}
