.card_activity {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
}

.card_activity:hover {
  opacity: 0.65;
}

#card_activity_link {
  text-decoration: none;
  color: rgb(217, 147, 16);
 }

.card_activity_link {
  text-decoration: none;
  color: black;
  padding : 1rem;
  margin: 0;
}



.activity_description {
  padding: 30px 20px 20px;

  .address, .duration, .rating, .price {
    color: rgb(66, 66, 66);
    font-weight: 100;
  }
  i {
    margin-right: 10px;
  }

  > div {
    display: flex;
    justify-content: space-between;

  }
  .description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;

  }
}

.card_name {
  position: relative;

  > img {
    height: 150px;
    width: 100%;
    object-fit: cover;
  }

  h5 {
    color: black;
    font-size: 18px;
    font-weight: bold;
    background: #ffa62b;
    width: max-content;
    padding: 5px 10px;
    border-radius: 2px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.card_activity h6 {
  color: black;
  font-size: 10px;
  font-weight: normal;
  font-size: 1.25rem;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

  .card_activity p {
  font-weight: normal;
  margin: 0;
  padding : 3px;
  display: flex;
  align-items: flex-start;

}


.card_activity_h3 {
  font-size: 25px;
  font-weight: normal;
  margin: 0px auto 40px;
  color: black;
  text-align: center;
}

.card_activity a {
  text-decoration: none;
  color: black;
}

.body_card_activity {
  font-family: Helvetica;
  justify-content: center;
  color: black;
}

.card img {
  object-fit: cover;
}

///////////// CARDS SUR LA TRIPS#NEW
///
.card-item {
  display: inline-block;
}

.card-selector:hover + label {
  color: #ECEAFF;
}

.card-selector {
  position: absolute;
  transform: scale(0);
}

.card-selector + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;



  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.card-selector:checked + label > .card_activity {
  border: 2px solid #16697A;
}

.card_activity_tuto {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.activity_tuto_description {
  font-size: 20px;
  padding: 35px 45px 25px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
