
#query {
  width: 50%;
  border-radius: 5px;
  background-color: white;
}
#query.form-control-icon {
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
  height: 45px;
  padding: 10px 30px;
  border: none;
  width: 100%;
  padding-left: 15px;
}
