
.navbar-lewagon {
  justify-content: space-between;
  background: #ffa62b;
  color: white;
  height: fit-content;

  .navbar-collapse {
    flex-grow: 0;
  }
}

.navbar-lewagon .navbar-brand img {
  height: 8vh;
}

.navbar-lewagon .nav-link {
  color: white;
}
